<div class='container'>
  <div class='row'>
    <div class='col-md-10 col-lg-8 mx-auto text-center'>
      <%= image_tag('top.png')%>
      <h3>2024年の抱負</h3>
      <div class='form-group'>
        <input name="message" id="message" class="form-control">
      </div>
      <br>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        書をしたためる
      </button>
    </div>
  </div>
</div>
