<nav class="navbar navbar-dark" aria-label="First navbar example" style="background-color:#AF8A45;">
    <div class="container-fluid">
      <%= link_to image_tag('home_icon.png', size: '30x30'), root_path, class: 'navbar-brand' %>
    </div>
  </nav>