<nav class="navbar navbar-dark" aria-label="First navbar example" style="background-color:#AF8A45;">
    <div class="container-fluid">
      <%= link_to image_tag('home_icon.png', size: '30x30'), root_path, class: 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>