@import "bootstrap";
@import "top";

.background-class {
    background-image: image-url('background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (max-width: 430px) {
    .background-class {
        background-image: image-url('background_ipone.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .top-image {
        width: 75%;
    }
    .form-group {
        
    }
}

footer{
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}

.btn-primary {
    background: #AF8A45; //ボタンの背景色
    color: white; //ボタンのテキストの色
    border-color: #AF8A45;
}

.btn-primary:hover {
    color: #fff;
    background-color: #FFAAA5;
    border-color: #FFAAA5;
  }