@import "bootstrap";
@import "top";

.background-class {
    width: 100%;
    background-image: image-url('background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.base-containar {
    @extend .container-fluid;
    max-width: var(--breakpoint-lg);
    padding: 30px 15px;
  }

.img-responsive {
    height: 432px;
    width: 768px;
    display: block;
    margin:auto;
}

@media (max-width: 520px) {
    .background-class {
        background-image: image-url('background_ipone.png')!important;
        background-position: center!important;
        background-size: cover!important;
        background-repeat: repeat;
    }

    img {
        max-width: 100%;
        height: auto;
        vertical-align: top;
      }

    .img-responsive {
        width: 90%; /* 幅を設定 */
        margin: 0 auto;
        display: block;
    }

    input[type="text"] {
        width: 80%;
    }
}

footer{
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}

.btn-primary {
    background: #AF8A45; //ボタンの背景色
    color: white; //ボタンのテキストの色
    border-color: #AF8A45;
}

.btn-primary:hover {
    color: #fff;
    background-color: #FFAAA5;
    border-color: #FFAAA5;
  }

  h3,p {
    color: #AF8A45;
}