.background-class {
    background-image: image-url('background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (max-width: 768px) {
    .background-class {
        background-position: top center;
        background-size: auto 100%;
    }
}

.btn-primary {
    background: #AF8A45; //ボタンの背景色
    color: white; //ボタンのテキストの色
    border-color: #AF8A45;
}

.btn-primary:hover {
    color: #fff;
    background-color: #FFAAA5;
    border-color: #FFAAA5;
  }

.custom-container {
    padding-top: 20px;    /* 上側の余白を追加 */
    padding-bottom: 20px; /* 下側の余白を追加 */
  }
  

h3 {
    color: #AF8A45;
}