<div class='col-md-10 col-lg-8 mx-auto text-center'>
  <br>
  <div>
    <h3>書き初めテーマ： <%= @q %> </h3>
  </div>
  <div>
    <button type="button" class="btn btn-primary">
    <%= link_to "https://twitter.com/share?text=
    %0a書き初めを作成しました！
    %0a書き初めテーマ：#{@q}
    %0a作品：#{@image}
    &url=%0ahttps://kakizomaker.onrender.com/
    &hashtags=%0a英語で書き初め,%0akakizomaker,%0aミニアプリウィーク",
    target: '_blank', data: { toggle: "tooltip", placement: "bottom" } do %>
    <span class="fab fa-twitter" style='color: white;'></span>シェア
    <% end %>
    </button>
  </div>
  <br>
  <div>
  <%= image_tag @image_url, :size =>'500x500'%>
  </div>
</div>

