<div class='col-md-10 col-lg-8 mx-auto text-center'>
  <h3>書き初めテーマ： <%= @q %> </h3>
  <div>
  <button type="button" class="btn-primary">
   <%= link_to "https://twitter.com/share?url=https://kakizomaker.onrender.com/
   %0a書き初めテーマ：#{@q}
   %0a#{@image}",
    target: '_blank', data: { toggle: "tooltip", placement: "bottom" } do %>
    <span class="fab fa-twitter"></span>Xにシェア
   <% end %>
  </button>
  </div>
  <%= image_tag @image_url, :size =>'500x500'%>
</div>

