<div class='background-class'>
        <div class='row'>
        <div class='col-md-10 col-lg-8 mx-auto text-center custom-container'>
            <%= form_with(url: create_image_path, method: :get) do |form| %>
            <div class='mx-auto my-auto d-block img-responsive'>
            <%= image_tag('top5.png', size: '768x432')%>
            </div>
            <h3>書き初めが英語で生成されるよ♪</h3>
            <p>※うまく生成されない場合は何度か試してみてください。</p>
            <br>
            <div class='form-group1'>
            <%= form.text_field :query, size: 75, placeholder: "日本語で入力してください" %>
            </div>
            <br>
            <div class='form-group2'>
            <%= form.submit "書き初めを作成する", class: "btn btn-primary"%>
            </div>
        </div>
        <% end %>
    </div>
</div>